/*------ Import other sass files ------ */
/*------ Set border radius on the element ------ */
/*------ Variables ------ */
/*------ Import fonts ------ */
@font-face {
  src: url("../../fonts/Lato/Lato-Thin.ttf") format("truetype");
  font-family: "Lato-Thin"; }
@font-face {
  src: url("../../fonts/Lato/Lato-Light.ttf") format("truetype");
  font-family: "Lato-Light"; }
@font-face {
  src: url("../../fonts/Lato/Lato-Regular.ttf") format("truetype");
  font-family: "Lato-Regular"; }
@font-face {
  src: url("../../fonts/Lato/Lato-Medium.ttf") format("truetype");
  font-family: "Lato-Medium"; }
@font-face {
  src: url("../../fonts/Lato/Lato-Semibold.ttf") format("truetype");
  font-family: "Lato-Semibold"; }
@font-face {
  src: url("../../fonts/Raleway/Raleway-ExtraBold.ttf") format("truetype");
  font-family: "Raleway-ExtraBold"; }
@font-face {
  src: url("../../fonts/Raleway/Raleway-Bold.ttf") format("truetype");
  font-family: "Raleway-Bold"; }
/*------ Universal classes ------ */
.float-left {
  float: left; }

.float-right {
  float: right; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.line {
  width: 100px;
  height: 0;
  border: 0;
  border-bottom: 1px solid #222; }

.ul-reset, .header-cont .nav-cont .nav, .our-work-cont .our-work .our-work-nav-cont .our-work-nav, .our-work-cont .our-work .our-work-projects-cont .our-work-projects-row .our-work-projects-nav, .our-clients-cont .clients-nav {
  list-style-type: none;
  padding: 0;
  margin: 0;
  *zoom: 1; }

/*------ jQuery rotate class ------ */
.rotate {
  transform: rotate(90deg);
  -webkit-transition: all ease-in-out 0.118s;
  -moz-transition: all ease-in-out 0.118s;
  transition: all ease-in-out 0.118s; }

/*------ Article headings style ------ */
.art-headings {
  font-size: 35px;
  font-family: "Raleway-Bold";
  text-transform: uppercase;
  color: #222; }

/*------ Text selection style ------ */
::selection {
  background-color: #07a9f4; }

/*------ Grid system ------ */
.grid {
  width: 1200px;
  margin: 0 auto; }

/*------ Reset body styles ------ */
body {
  padding: 0;
  margin: 0;
  font-family: "Lato-Regular", sans-serif;
  font-size: 0.95em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/*------ Header container ------ */
.header-cont {
  width: 100%;
  height: auto;
  overflow: hidden;
  background-image: url("../../img/Elegant-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  .header-cont .nav-cont {
    width: 100%;
    height: auto; }
    .header-cont .nav-cont .logo .logo-heading {
      color: #fff;
      text-transform: uppercase;
      font-family: "Lato-Medium", sans-serif;
      font-size: 23px; }
      .header-cont .nav-cont .logo .logo-heading .logo-e {
        color: #07a9f4;
        height: 100px;
        line-height: 100px; }
    .header-cont .nav-cont .nav {
      line-height: 100px; }
      .header-cont .nav-cont .nav .nav-items {
        position: relative;
        display: none; }
      .header-cont .nav-cont .nav .nav-links {
        color: #fff;
        font-weight: normal;
        font-size: 14px;
        font-family: "Lato-Medium";
        text-transform: uppercase;
        text-decoration: none;
        display: inline-block;
        margin: 0 20px; }
        .header-cont .nav-cont .nav .nav-links:hover {
          color: #07a9f4; }
      .header-cont .nav-cont .nav #menu-bar {
        font-size: 20px; }
  .header-cont .wrapper-cont {
    padding: 150px 0;
    width: 600px;
    text-align: center;
    margin: 0 auto; }
    .header-cont .wrapper-cont .wrapper .wrapper-heading {
      font-size: 48px;
      font-family: "Raleway-ExtraBold";
      text-transform: uppercase;
      text-shadow: 1px 1px 2px #333;
      color: #fff;
      display: block;
      margin-bottom: 40px; }
    .header-cont .wrapper-cont .wrapper p {
      color: #fff;
      margin-top: 40px;
      font-size: 22px;
      font-family: "Lato-Regular"; }
    .header-cont .wrapper-cont .wrapper .line {
      border-bottom: 1px solid #fff; }
  .header-cont .scroll-bottom-cont {
    width: 50px;
    height: auto;
    margin: 0 auto; }
    .header-cont .scroll-bottom-cont .scroll-to-bottom {
      color: #808c92;
      display: inline-block;
      padding: 10px 16px;
      margin-bottom: 50px;
      border: 1px solid #808c92;
      font-size: 25px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%; }

/*------ About us container ------ */
.about-cont {
  width: 100%;
  height: auto;
  overflow: hidden;
  background-color: #fff; }
  .about-cont .about {
    padding: 100px 0; }
    .about-cont .about .about-art-cont {
      width: 770px;
      margin: 0 auto;
      text-align: center; }
      .about-cont .about .about-art-cont p {
        font-size: 22px;
        font-family: "Lato-Regular";
        color: #222; }

/*------ Dolore magna container ------ */
.dolore-magna-cont {
  width: 100%;
  height: auto;
  overflow: hidden;
  background-color: #fff;
  background-image: url("../../img/Elegant-section_3.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
  .dolore-magna-cont .dolore-magna {
    position: relative; }
    .dolore-magna-cont .dolore-magna .dolore-magna-art-cont {
      padding: 120px 0 70px 0;
      width: 60%; }
      .dolore-magna-cont .dolore-magna .dolore-magna-art-cont .dolore-magna-art {
        width: 70%; }
        .dolore-magna-cont .dolore-magna .dolore-magna-art-cont .dolore-magna-art .dolore-heading {
          color: #fff;
          font-size: 45px;
          font-family: "Lato-Light";
          text-transform: uppercase; }
        .dolore-magna-cont .dolore-magna .dolore-magna-art-cont .dolore-magna-art p {
          color: #fff;
          font-size: 22px;
          font-family: "Lato-Thin";
          margin-top: -35px; }
      .dolore-magna-cont .dolore-magna .dolore-magna-art-cont .more-cont {
        width: 50px;
        height: 50px;
        padding-top: 50px; }
        .dolore-magna-cont .dolore-magna .dolore-magna-art-cont .more-cont .more-link {
          color: #fff; }
      .dolore-magna-cont .dolore-magna .dolore-magna-art-cont .iphone-img {
        position: absolute;
        bottom: 0;
        right: 200px; }

/*------ Our work container ------ */
.our-work-cont {
  width: 100%;
  height: auto;
  overflow: hidden;
  background-color: #fff; }
  .our-work-cont .our-work .heading-cont {
    text-align: center; }
  .our-work-cont .our-work .our-work-nav-cont .our-work-nav {
    text-align: center; }
    .our-work-cont .our-work .our-work-nav-cont .our-work-nav .our-work-nav-items {
      display: inline-block; }
      .our-work-cont .our-work .our-work-nav-cont .our-work-nav .our-work-nav-items .our-work-nav-links {
        text-decoration: none;
        text-transform: uppercase;
        font-weight: normal;
        font-size: 19px;
        font-family: "Lato-Regular";
        color: #767676;
        display: inline-block;
        margin: 50px 20px; }
      .our-work-cont .our-work .our-work-nav-cont .our-work-nav .our-work-nav-items .active {
        color: #222; }
  .our-work-cont .our-work .our-work-projects-cont {
    width: 100%;
    display: block; }
    .our-work-cont .our-work .our-work-projects-cont .our-work-projects-row .our-work-projects-nav {
      text-align: center; }
      .our-work-cont .our-work .our-work-projects-cont .our-work-projects-row .our-work-projects-nav .our-work-projects-items {
        display: inline-block;
        width: 300px;
        height: 350px;
        margin: 10px 10px; }
        .our-work-cont .our-work .our-work-projects-cont .our-work-projects-row .our-work-projects-nav .our-work-projects-items .our-work-projects-links img {
          width: 100%;
          height: 100%; }
  .our-work-cont .our-work .our-work-more-link-cont {
    width: 100%;
    display: block;
    text-align: center;
    margin: 80px 0; }
    .our-work-cont .our-work .our-work-more-link-cont .our-work-more-link {
      display: inline;
      padding: 10px 100px;
      border: 2px solid #222;
      background-color: #fff;
      color: #222;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 24px;
      font-family: "Lato-Regular"; }

/*------ Our clients container ------ */
.our-clients-cont {
  width: 100%;
  height: auto;
  overflow: hidden;
  background-color: #f4f4f4; }
  .our-clients-cont .our-clients-heading {
    text-align: center; }
  .our-clients-cont .clients-nav {
    text-align: center; }
    .our-clients-cont .clients-nav .clients-items {
      display: inline-block;
      margin: 5%; }
      .our-clients-cont .clients-nav .clients-items object {
        width: 100px;
        height: auto;
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        filter: grayscale(100%); }
        .our-clients-cont .clients-nav .clients-items object:hover {
          -webkit-filter: none;
          -moz-filter: none;
          filter: none; }

/*------ John Doe container ------ */
.john-doe-cont {
  width: 100%;
  height: auto;
  overflow: hidden;
  background-color: #fff;
  background-image: url("../../img/Elegant_bay_bridge.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
  .john-doe-cont .john-doe {
    padding: 60px 0 40px 0; }
    .john-doe-cont .john-doe .john-doe-cont-art {
      text-align: center; }
      .john-doe-cont .john-doe .john-doe-cont-art p {
        font-weight: normal;
        font-size: 35px;
        font-family: "Lato-Thin";
        color: #fff; }
        .john-doe-cont .john-doe .john-doe-cont-art p:before, .john-doe-cont .john-doe .john-doe-cont-art p:after {
          content: '"'; }
    .john-doe-cont .john-doe .author {
      color: #fff;
      font-weight: bold;
      font-size: 21px;
      font-family: "Raleway-Bold"; }
      .john-doe-cont .john-doe .author:before {
        content: " - "; }

/*------ Service contaier ------ */
.service-cont {
  width: 100%;
  height: auto;
  overflow: hidden;
  background: #fff; }
  .service-cont .service-heading {
    text-align: center; }
  .service-cont .service-elements-cont {
    width: 100%;
    text-align: center;
    padding: 80px 0 120px 0; }
    .service-cont .service-elements-cont .service-elements {
      display: inline-block;
      width: 25%;
      text-align: center;
      margin: 0 30px; }
      .service-cont .service-elements-cont .service-elements .service-headings {
        font-size: 21px;
        font-family: "Lato-Regular"; }
      .service-cont .service-elements-cont .service-elements .service-font i {
        font-size: 130px;
        height: auto;
        color: #005494; }

/*------ Number container ------ */
.number-cont {
  width: 100%;
  height: auto;
  overflow: hidden;
  background-image: url("../../img/Elegant-section_3.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
  .number-cont .number-elements-cont {
    padding: 100px 0;
    text-align: center; }
    .number-cont .number-elements-cont .number-elements {
      display: inline-block;
      width: 17%;
      color: #fff; }
      .number-cont .number-elements-cont .number-elements .numbers {
        font-size: 60px;
        font-family: "Lato-Thin"; }
      .number-cont .number-elements-cont .number-elements .number-stuff {
        font-size: 24px;
        font-family: "Lato-Semibold"; }

/*------ Skills container ------ */
.skills-cont {
  width: 100%;
  height: auto;
  overflow: hidden; }
  .skills-cont .skills-heading {
    text-align: center; }
  .skills-cont .main-skills-cont {
    padding: 100px 0; }
    .skills-cont .main-skills-cont .skills-sidebar-cont, .skills-cont .main-skills-cont .progress-bars-cont {
      display: inline-block;
      width: 40%; }
    .skills-cont .main-skills-cont .progress-bars-cont .prog-bar-headings {
      font-size: 13.45px;
      font-family: "Lato-Semibold";
      color: #a0a0a0;
      text-transform: uppercase; }
    .skills-cont .main-skills-cont .progress-bars-cont .photoshop .photo-prog-bar-cont, .skills-cont .main-skills-cont .progress-bars-cont .illustrator .photo-prog-bar-cont, .skills-cont .main-skills-cont .progress-bars-cont .html .photo-prog-bar-cont, .skills-cont .main-skills-cont .progress-bars-cont .css .photo-prog-bar-cont, .skills-cont .main-skills-cont .progress-bars-cont .javascript .photo-prog-bar-cont {
      width: 100%;
      height: 15px;
      border-radius: 5px;
      background: #eee;
      margin: 10px 0; }
      .skills-cont .main-skills-cont .progress-bars-cont .photoshop .photo-prog-bar-cont .photo-prog-bar, .skills-cont .main-skills-cont .progress-bars-cont .illustrator .photo-prog-bar-cont .photo-prog-bar, .skills-cont .main-skills-cont .progress-bars-cont .html .photo-prog-bar-cont .photo-prog-bar, .skills-cont .main-skills-cont .progress-bars-cont .css .photo-prog-bar-cont .photo-prog-bar, .skills-cont .main-skills-cont .progress-bars-cont .javascript .photo-prog-bar-cont .photo-prog-bar {
        width: 95%;
        height: 15px;
        border-radius: 5px;
        background: #005494; }

/*------ Footer container ------ */
.footer-cont {
  width: 100%;
  height: auto;
  overflow: hidden;
  background-image: url("../../Elegant_footer_img.jpg");
  background-position: center;
  background-size: cover; }

/*# sourceMappingURL=base.css.map */
